//Google Font
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@font-face {
    font-family: Kohinoor;
    src: url(../fonts/KohinoorDevanagari-Medium.ttf) format('truetype');
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
}
// Variables to quickly and easily change the accent colour across the site.
$lightGreen: #96c83c;
$darkBlue: #09324f;
$white: #FFF;
$lightBlue: lighten($darkBlue,10%);
$icono1: #443b9d;
$icono2: #2a4fa8;
$icono3: #0b9ada;
$icono4: #2fba91;
$icono5: #37b75c;
$navMargin: 2vw;
$navBarBreak: 977px;
$serviciosBreak: 993px; 
$sliderBreak: 800px;

//Include-Media mixin variables
$breakpoints: (very-small: 590px, small: 740px, sliderBreak: $sliderBreak,
	navBarBreak: $navBarBreak, 	serviciosBreak: $serviciosBreak, 
	medium: 1000px, medium-large:1100px, large: 1200px);
