@import 'variables'; 
@import 'mixins'; 
@import "compass/css3";
@import "compass/utilities";
@import "include-media";

body { padding-top: 70px; font-family: 'Roboto';}

.navbar-fixed-top{ background-color: white}

.container-fluid{
	@include box-shadow(0 5px 7px -5px #333);
}

.logo{	width: 12rem;}

div#myNavbar { text-align: center;}

.navbar-brand{padding: 0;}

ul.nav.navbar-nav {
	-webkit-backface-visibility: hidden;
	float: none;
	display: inline-block;
	@include media("<=navBarBreak"){
		display: block;
	}
}

ul.nav.navbar-nav.navbar-right{
	margin-right: $navMargin;
	@include media("<=large"){
		margin-right: $navMargin/2;
	}
	@include media("<=medium"){
		margin-right: 0;
	}
}
.navbar-brand{
	margin-left: $navMargin !important;
	@include media("<=large"){
		margin-left: $navMargin/2 !important;
	}
	@include media("<=medium"){
		margin-left: $navMargin/4 !important;
	}
}

.navbar-toggle .icon-bar{background-color: white;}
.navbar-toggle{	background-color: $darkBlue;}

ul.navbar-nav li{
	height: 7rem;
	display: inline-block;
	border-bottom-width: 10px;
	@include media("<=navBarBreak"){
		height: 5rem;
	}
}

ul.navbar-nav li.active{
	border-bottom-style: solid; 
	border-bottom-color: $lightGreen;
}

.navLinks > li > a{	@include font-style($lightBlue, 1.6rem, initial);}

.navLinks > li:hover , .navLinks > li:focus{
	border-bottom-style: solid; 
	border-bottom-color: darken($lightGreen,8%);
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
	text-decoration: none;
	background: none;
}

.carousel-control.left, .carousel-control.right{background-image: none;}
.carousel-control .glyphicon-chevron-left{margin-left: -2.5vw;}
.carousel-control .glyphicon-chevron-right{margin-right: -2.5vw;}
.carousel-control{opacity: 1;}

#myCarousel .carousel-inner .item{
	width: 100%;
	height: 58rem;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	@include media("<=sliderBreak"){
		height: 86vw;
	}
}

#slider1{
	background-image: url('../images/slider1.png');
	@include media("<=sliderBreak"){
		background-image: url('../images/sliderc1.png');
	}
}
#slider2{
	background-image: url('../images/slider2.png');
	@include media("<=sliderBreak"){
		background-image: url('../images/sliderc2.png');
	}
}
#slider3{
	background-image: url('../images/slider3.png');
	@include media("<=sliderBreak"){
		background-image: url('../images/sliderc3.png');
	}
}
#slider4{
	background-image: url('../images/slider4.png');
	@include media("<=sliderBreak"){
		background-image: url('../images/sliderc4.png');
	}
}
#slider5{
	background-image: url('../images/slider5.png');
	@include media("<=sliderBreak"){
		background-image: url('../images/sliderc5.png');
	}
}
#slider6{
	background-image: url('../images/slider6.png');
	@include media("<=sliderBreak"){
		background-image: url('../images/sliderc6.png');
	}
}

#myCarousel2 .carousel-indicators{
	display: none;
}

li.control {
	@include border-radius(2rem);
	background-color: white;
	margin-right: 1rem;
	border-style: solid;
	border-color: $darkBlue;
	border-width: 0.6vw;
	width: 2vw;
	height: 2vw;
	@include media("<=medium"){
		width: 2.3vw;
		height: 2.3vw;
	}
	@include media("<=small"){
		border-width: 0.7vw;
		width: 2.5vw;
		height: 2.5vw;
	}
}
li.control.active {
	@extend li.control;
	background-color: $lightGreen;
	margin-bottom: 1px;
}

.container.nosotros{
	margin-top: 5rem;
}

.quienesSomosLeft{	
	@include center-aligner();
}
.quienesSomosImg{ width: 30vw }

.quienesSomosRight{	
	height: 30vw;
	display: table;
}
.quienesSomosP{
	vertical-align: middle;
	display: table-cell;
	text-align: justify;
	font-size: 1.8rem;
	padding: 5rem;
	color: $darkBlue;
	@include media("<=small"){
		padding-top: 3.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		font-size: 1.6rem;
	}
	@include media("<=very-small"){
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 1.4rem;
	}
}

.container{
	margin-left: 0;
	padding-left: 0;
	margin-right: 0;
	padding-right: 0;
	width: 100%;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.col-md-6.servicios {padding: 0;}

.serviciosInfo, .overlay{display: none}

.masDiv {
	position: absolute;
	z-index: 21;
	left: 4rem;
	top: 5rem;
	@include media("<=serviciosBreak"){
		top: 2rem;
		left: 1rem;
	}
}
.mas {
	background-color: #6CA31C;
	padding: 0.5rem;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	font-weight: bolder;
	font-size: 3rem;
	cursor: pointer;
	color: white;
	&:hover{
		text-decoration: none;
		color: $white;
	}
}

.serviciosImg{width: 100%; cursor: pointer;}

.serviciosInfo {
	position: absolute;
	z-index: 10;
	width: 70%;
	left: 10%;
	top: 20%;
	@include media("<=medium-large"){
		width: 86%;
	}
	@include media("<=serviciosBreak"){
		top: 15%;
	}
}

div.serviciosTitle {
	background-color: $lightGreen;
	font-family: 'Kohinoor';
	display: inline-block;
	color: $darkBlue;
	margin-top: 2rem;
	font-size: 3rem;
	padding: 2rem;
	height: 8rem;
	@include media("<=small"){
		font-size: 2.4rem;
		padding: 1.4rem;
		height: 6rem;
	}
	@include media("<=very-small"){
		font-size: 2rem;
		padding: 1rem;
		height: 5rem;
	}
}

.serviciosText {
	background-color: rgba(255, 255, 255, 0.7);
	margin-top: 2rem;
	color: #004c9a;
	@include media("<=small"){
		margin-top: 0rem;
	}
}

h1.serviciosDescription {
	margin-top: -0.5rem;
	font-size: 2.1rem;
	font-weight: 500;
	padding: 2rem;
	@include media("<=very-small"){
		font-size: 1.7rem;
		padding: 1.5rem;
	}
	@include media("<=380px"){
		font-size: 1.3rem;
		padding: 1.3rem;
	}
}

.wrapperTitle {
	margin-bottom: -5rem;
	position: relative;
	text-align: center;
	z-index: 30;
	@include media("<=very-small"){
		margin-bottom: -4rem;
	}
}
.wrapperTitle.proyectosTopTitle {
	margin-top: -6rem;
	margin-bottom: 0;
	@include media("<=very-small"){
		margin-top: -5rem;
	}
}

.wrapperTitle.trabajoTopTitle {
	margin-top: -6rem;
	@include media("<=very-small"){
		margin-bottom: -2.9rem;
	}
}

.wrapperTitle.clientesTopTitle, .wrapperTitle.aliadosTopTitle, {
	margin-top: -2rem;
	margin-bottom: 0rem;
}

h1.titleSection {
	background-color: $darkBlue;
	font-family: 'Kohinoor';
	display: inline-block;
	padding-right: 4rem;
	padding-left: 4rem;
	color: $lightGreen;
	padding: 2rem;
	@include media("<=very-small"){
		padding: 1rem;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
}

.overlay {
	@include opacity(0.7);
	background: $darkBlue;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.sliderProyectos {@include center-aligner();}

ul#owl-example{ width: 80%;@include center-aligner();}

.row.clienteRow {
	margin-bottom: 1rem;
}

.cliente:hover, .aliado:hover{
	-webkit-filter: grayscale(0%) !important;
	filter: grayscale(0%) !important;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.proyectoImg{
	height: 10em;
	width: 11em;
}

li.active a div.proyectoImg{
	-webkit-filter: grayscale(0%) !important;
	filter: grayscale(0%) !important;
	border-bottom-color: $darkBlue;
	border-bottom-style: solid;
	border-bottom-width: 10px;
}

.owl-wrapper-outer{
	z-index: 20;
}
.owl-buttons {
	position: absolute !important;
	top: 5.5rem !important;
	width: 100%;
	z-index: 0;
	@include media("<=large"){
		padding-left: 1.5vw;
		padding-right: 1.5vw;
	}
	@include media("<=medium"){
		padding-left: 0vw;
		padding-right: 0vw;
	}
}

.owl-prev {
	font-size: 3rem !important;
	font-weight: 600 !important;
	margin-left: -2.5rem;
	position: relative;
	z-index: 40;
	float: left;
}

.owl-next {
	@extend .owl-prev;
	float: right;
	margin-right: -2.5rem;
}

.tab-pane {
	position: relative;
	img{
		width: 100%;
	}
}

.textInside {
	@include left-aligner();
	position: absolute;
	color: $white;
	padding: 4rem;
	width: 40rem;
	top: 7rem;
	left: 50%;
	@include media("<=medium"){
		left: 30%;
		padding: 2rem;
		top: 3rem;
	}
	@include media("<=small"){
		left: 20%;
	}
	@include media("<=very-small"){
		left: 10%;
	}
	@include media("<=465px"){
		left: 5%;
		font-size: 1.2rem;
		width: 90%;
	}
}

h2.titleTextInside{
	font-family: 'Kohinoor';
	margin: 0;
	margin-bottom: 3rem;
	@include media("<=640px"){
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}
}

.linea {
	width: 100%;
	height: 53rem;
	background-size: cover;
	background-position: center top no-repeat;
	@include media("<=medium"){
		height: 28rem;
	}
}

#linea1{
	background-image: url('../images/linea1.png');
	@include media("<=medium"){
		background: $icono1;
	}
}
#linea2{
	background-image: url('../images/linea2.png');
	@include media("<=medium"){
		background: $icono2;
	}
}
#linea3{
	background-image: url('../images/linea3.png');
	@include media("<=medium"){
		background: $icono3;
	}
}
#linea4{
	background-image: url('../images/linea4.png');
	@include media("<=medium"){
		background: $icono4;
	}
}
#linea5{
	background-image: url('../images/linea5.png');
	@include media("<=medium"){
		background: $icono5;
	}
}

div#menu0 div h2 { color: $white}
div#menu1 div h2 { color: $white}
div#menu2 div h2 { color: $white}
div#menu3 div h2 { color: $white}
div#menu4 div h2 { color: $white}

.clienteRow, .aliadoRow{
	text-align: center;
	margin: 8rem;
	margin-top: 4rem;
	@include media("<=medium"){
		margin-left: 2rem;
		margin-right: 2rem;
	}
}
.aliadoRow{
	margin-bottom: 4rem;
}

.cliente, .aliado{
	display: inline-block;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 9em;
	margin: 0 auto;
	height: 10rem;
	float: none;
	width: 16.66666667%;
	@include media("<=medium"){
		width: 20%;
	}
	@include media("<=small"){
		width: 30%;
	}
	@include media("<=440px"){
		width: 45%;
	}
}

.aliado{
	background-size: 15em;
	width: 33%;
	@include media("<=medium"){
		width: 45%;
	}
	@include media("<=small"){
		width: 55%;
	}
	@include media("<=440px"){
		width: 90%;
	}

}

#cliente1 { background-image: url('../images/cliente01.png')}
#cliente2 { background-image: url('../images/cliente02.png')}
#cliente3 { background-image: url('../images/cliente03.png')}
#cliente4 { background-image: url('../images/cliente04.png')}
#cliente5 { background-image: url('../images/cliente05.png')}
#cliente6 { background-image: url('../images/cliente06.png')}
#cliente7 { background-image: url('../images/cliente07.png')}
#cliente8 { background-image: url('../images/cliente08.png')}
#cliente9 { background-image: url('../images/cliente09.png')}
#cliente10 { background-image: url('../images/cliente10.png')}
#cliente11 { background-image: url('../images/cliente11.png')}
#cliente12 { background-image: url('../images/cliente12.png')}
#cliente13 { background-image: url('../images/cliente13.png')}

#aliado1 {background-image: url('../images/aliado01.png')}
#aliado2 {background-image: url('../images/aliado02.png')}
#aliado3 {background-image: url('../images/aliado03.png')}

.container.equipo {
	width: 100%;
	@include center-aligner();
}

.equipo{
	display: inline-block;
	margin: 0 auto;
	float: none;
	margin-bottom: -6px;
	height: 25vw;
	padding: 0;
	@include media("<=serviciosBreak"){
		width: 33.33%;
		height: 33vw;
	}
	@include media("<=small"){
		width: 50%;
		height: 50vw;
	}
}

#equipo1{background-color: rgb(random(255),random(255),random(255));}
#equipo2{background-color: rgb(random(255),random(255),random(255));}
#equipo3{background-color: rgb(random(255),random(255),random(255));}
#equipo4{background-color: rgb(random(255),random(255),random(255));}
#equipo5{background-color: rgb(random(255),random(255),random(255));}
#equipo6{background-color: rgb(random(255),random(255),random(255));}
#equipo7{background-color: rgb(random(255),random(255),random(255));}
#equipo8{background-color: rgb(random(255),random(255),random(255));}

.row.contactoRow {
	background-color: $darkBlue;
	height: 39em;
	@include media("<=serviciosBreak"){
		height: 48em;
	}
}

.titleH1Contacto.derecha{
	display: none;
	@include media("<=990px"){
		display: block;
		margin-bottom: 0.5em;
	}
}

.titleH1Contacto {
	color: white;
	margin-top: 22%;
	text-align: center;
	font-weight: 800;
	font-size: 4em;
	@include media("<=1200px"){
		margin-top: 30%;
	}
	@include media("<=990px"){
		margin: 0 auto;
		margin-top: 2rem;
	}
}

.columnaContacto{
	z-index: 200;
	height: 100%;
	color: white;
	text-align: center;
}

.formulario{
	height: auto;
	padding: 3em;
	background-color: white;
	width: 80%;
	margin: auto;
	margin-top: 10%;
	@include media("<=1300px"){
		width: 90%;
	}
	@include media("<=1200px"){
		margin-top: 15%;
	}
	@include media("<=1050px"){
		width: 100%;
	}
	@include media("<=990px"){
		margin-top: 8em !important;
		width: 80%;
		margin: 0 auto;
	}
	@include media("<=550px"){
		width: 100%;
	}
}

.form-control{
	background-color: #eee;
}

.buttonWrapper {
	text-align: right;
}

.contactoMoreInfo {
	// margin-left: 3em;
	margin-top: 3em;
	text-align: center;
	@include media("<=1300px"){
		margin-left: 0em;
	}
}

.col-md-4.contacto {
	width: 31%;
	@include media("<=990px"){
		display: inline-block;
	}
}

@media screen and (max-width: 990px) {
	.col-md-6.columnaContacto{
		width: 100%;
		position: absolute;
	}
	ul.footerLi {
		font-size: 10px !important;
	}
}

img.logosEscribenos {
	width: 30rem;
	@include media("<=serviciosBreak"){
		display: none;
	}
}
img.logosEscribenos2 {
	width: 38rem;
	@include media(">=serviciosBreak"){
		display: none;
	}
	@include media("<=450px"){
		width: 30rem;
	}
}