@import 'variables'; 
@import 'mixins'; 
@import "compass/css3";
@import "compass/utilities";
@import "include-media";

body { padding-top: 70px; }

.navbar-fixed-top{ background-color: white}

.container-fluid{
	@include box-shadow(0 5px 7px -5px #333);
}

.logo{	width: 12rem;}

div#myNavbar { text-align: center;}

.navbar-brand{padding: 0;}

nav.navbar.navbar-inverse { padding-bottom: 2rem;}

ul.nav.navbar-nav {
	float: none;
	display: inline-block;
	@include media("<=navBarBreak"){
		display: block;
	}
}

ul.nav.navbar-nav.navbar-right{
	margin-right: $navMargin;
	@include media("<=large"){
		margin-right: $navMargin/2;
	}
	@include media("<=medium"){
		margin-right: 0;
	}
}
.navbar-brand{
	margin-left: $navMargin !important;
	@include media("<=large"){
		margin-left: $navMargin/2 !important;
	}
	@include media("<=medium"){
		margin-left: $navMargin/4 !important;
	}
}

.navbar-toggle .icon-bar{background-color: white;}
.navbar-toggle{	background-color: $darkBlue;}

ul.navbar-nav li{
	height: 7rem;
	display: inline-block;
	border-bottom-width: 10px;
	@include media("<=navBarBreak"){
		height: 5rem;
	}
}

ul.navbar-nav li.active{
	border-bottom-style: solid; 
	border-bottom-color: $lightGreen;
}

.navLinks > li > a{	@include font-style($lightBlue, 1.6rem, initial);}

.navLinks > li:hover , .navLinks > li:focus{
	border-bottom-style: solid; 
	border-bottom-color: darken($lightGreen,8%);
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
	text-decoration: none;
	background: none;
}

.carousel-control.left, .carousel-control.right{background-image: none;}

.carousel-control .glyphicon-chevron-left{margin-left: -2.5vw;}
.carousel-control .glyphicon-chevron-right{margin-right: -2.5vw;}
.carousel-control{opacity: 1;}
li.slideImg {
	@include border-radius(2rem);
	background-color: white;
	margin-right: 1rem;
	border-style: solid;
	border-color: $darkBlue;
	border-width: 0.6vw;
	width: 2vw;
	height: 2vw;
	@include media("<=medium"){
		width: 2.3vw;
		height: 2.3vw;
	}
	@include media("<=small"){
		border-width: 0.7vw;
		width: 2.5vw;
		height: 2.5vw;
	}
}
.carousel-indicators li.active {
	@extend li.slideImg;
	background-color: $lightGreen;
	margin-bottom: 1px;
}

.container.nosotros{
	margin-top: 5rem;
}

.quienesSomosLeft{	
	@include center-aligner();
}
.quienesSomosImg{ width: 30vw }

.quienesSomosRight{	
	height: 30vw;
	display: table;
}
.quienesSomosP{
	vertical-align: middle;
	display: table-cell;
	text-align: justify;
	padding: 5rem;
	color: $darkBlue;
	@include media("<=small"){
		padding-top: 3.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	@include media("<=very-small"){
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.container.servicios{
	margin-left: 0;
	padding-left: 0;
	margin-right: 0;
	padding-right: 0;
	width: 100%;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.col-md-6.servicios {padding: 0;}

.serviciosImg{width: 100%; cursor: pointer;}

.serviciosInfo {
	position: absolute;
	z-index: 10;
	width: 70%;
	left: 10%;
	top: 15%;
	@include media("<=medium-large"){
		width: 86%;
	}
}

div.serviciosTitle {
	background-color: $lightGreen;
	display: inline-block;
	color: $darkBlue;
	font-size: 3rem;
	padding: 2rem;
	height: 8rem;
	@include media("<=small"){
		font-size: 2.4rem;
		padding: 1.4rem;
		height: 6rem;
	}
}

.masDiv {
	text-align: right;
	margin-right: -1em;
}

.mas {
	background-color: #6CA31C;
	padding-right: 14px;
	padding-left: 14px;
	font-weight: 600;
	cursor: pointer;
	color: white;
}

h1.serviciosDescription{font-size: 1.6rem;}

.serviciosText {
	background-color: rgba(255, 255, 255, 0.7);
	color: #004c9a;
}

h1.serviciosDescription {
	margin-top: -0.5rem;
	font-size: 2.1rem;
	font-weight: 500;
	padding: 2rem;
	@include media("<=very-small"){
		font-size: 1.7rem;
		padding: 1.5rem;
	}
}

.wrapperTitle {
	margin-bottom: -5rem;
	position: relative;
	text-align: center;
	z-index: 20;
	@include media("<=very-small"){
		margin-bottom: -4rem;
	}
}

.wrapperTitle.upper{
	@extend .wrapperTitle;
	margin-top: -6rem;
	margin-bottom: 0;
}

h1.titleSection {
	background-color: $darkBlue;
	display: inline-block;
	padding-right: 4rem;
	padding-left: 4rem;
	color: $lightGreen;
	padding: 2rem;
	@include media("<=very-small"){
		padding-right: 3rem;
		padding-left: 3rem;
		padding: 1rem;
	}
}

.overlay {
    @include opacity(0.7);
    background: $darkBlue;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.proyectoImageSlider{
	width: 100%;
}

.serviciosInfo.fullscreen {
	position: absolute;
	left: 5%;
	top: 7%;
	z-index: 1000;
	width: 90%;
	padding: 5px;
	color: #FFFFFF;
	font-weight: bold;
}

h1.serviciosTitle.fullscreen {
	padding: 0.5em;
	width: auto;
	margin-bottom: 0.3em;
	font-size:1.7em;
}

h1.serviciosDescription.fullscreen {
	font-size: 1em;
	margin-top: 0;
	padding: 1em;
}


.titleH1Proyectos{
}

.proyectosA{
	font-size: 1.2em;
	height: 4.5em;
	font-weight: 500 !important;
	display: table-cell;
	vertical-align: middle;
}
.proyectosDiv {
	padding-left: 0;
	padding-right: 0;
}

.sliderProyectos{
	text-align:-moz-center;
	text-align:-webkit-center;
}

.owl-item{
	height: 5.4em;
}

.clientesDiv .owl-item{
	height: 9em;
}

.col-md-12.servicios{
	padding-left: 0;
	padding-right: 0;
}

li.active .background{
	height: inherit;
	background-color: #6CA31C;
	background-clip: content-box;
	padding-left: 7em;
	padding-right: 7em;
}

ul#owl-example, ul#owl-example2, ul#owl-example3 {
	width: 80%;
}

ul.owl-carousel li{
	width: 15em;
}

ul.owl-carousel img{
	display: block;
	padding-top: 1.5em;
	width: 3em;
}

.owl-theme .owl-controls .owl-buttons div{
	font-size: 3em !important;
	background: none !important;
	opacity: 1 !important; 
	font-weight: 700;
	padding-bottom: 5px !important;	
}

.owl-controls.clickable{
	position: absolute;
	top: 0.2em;
	width: 100%;
	z-index: 5;
}

ul#owl-example2 div.owl-controls.clickable{
	top: 1.2em;
}

.owl-prev {
	float: left;
	margin-left: -1em !important;
}

.owl-next {
	float: right;
	margin-right: -1em !important;
}

.owl-wrapper {
	position: relative;
	z-index: 10;
}

li.proyectosLi{
	padding-left: 10px;
	padding-right: 10px;
}

li.proyectosLi.active{
	background-color: #6CA31C;
}
li.proyectosLi.active a{
	color: white !important;
}
li.proyectosLi a:hover{
	text-decoration: blink;
}


@media screen and (min-width: 850px) {
	.owl-buttons {
		margin-left: -3em;
		margin-right: -3em;
	}
}

@media screen and (max-width: 1550px) {
	li.active .background{
		padding-left: 5em;
		padding-right: 5em;
	}
	h1.serviciosTitle.fullscreen {
		font-size: 1.4em;
		/*width: 20em;*/
	}
}

@media screen and (max-width: 1350px) {
	h1.serviciosDescription.fullscreen {
		font-size: 1.1em;
		padding: 0.7em;
	}
}

@media screen and (max-width: 1300px) {
	h1.serviciosTitle.fullscreen {
		font-size: 1.2em;
	}
	li.active .background{
		padding-left: 4em;
		padding-right: 4em;
	}
	.owl-theme .owl-controls .owl-buttons div{
		font-size: 2.3em !important;
	}
	h1.serviciosDescription.fullscreen {
		font-size: 0.8em;
	}
}
@media screen and (max-width: 1050px) {
	h1.serviciosTitle.fullscreen {
		font-size: 1.1em;
	}
	h1.serviciosDescription.fullscreen {
		font-size: 0.7em;
	}
}
@media screen and (max-width: 995px) {
	li.active .background{
		padding-left: 7em;
		padding-right: 7em;
	}
	.proyectosA{
		font-size: 1.3em;
	}
	h1.serviciosTitle.fullscreen {
		font-size: 1.2em;
		margin-top: 5px;
	}
	.serviciosInfo.fullscreen {
		left: 2%;
		top: 0.5%;
		width: 95%;
	}
}
@media screen and (max-width: 839px) {
	.proyectosA{
		font-size: 1.1em;
		height: 4em;
	}
	.titleH1Proyectos{
		margin-bottom: 1em;
	}
	h1.serviciosTitle.fullscreen {
		font-size: 1.1em;
	}
	.serviciosInfo.fullscreen {
		display: none;
		/*left: 1%;
		top: 0%;
		width: 98%;*/
	}
	h1.serviciosDescription.fullscreen {
		font-size: 0.6em;
	}
	.owl-item{
		height: 9em;
	}

}

@media screen and (max-width: 685px) {
	.owl-theme .owl-controls {
		margin-top: -7em !important;
	}
	
	ul.owl-carousel li {
		padding-top: 1em;
	}
	.titleH1Proyectos {
		margin-bottom: 0em;
	}
	h1.serviciosTitle.fullscreen {
		font-size: 1em;
	}
	h1.serviciosDescription.fullscreen {
		font-size: 0.5em;
	}
	div.aliados .owl-controls.clickable{
		/*top: -1em;*/
	}
}


@media screen and (max-width: 496px) {
	li.active .background{
		padding-left: 9em;
		padding-right: 9em;
	}
	h1.serviciosTitle.fullscreen {
		font-size: 0.8em;
		width: 100%;
	}
	h1.serviciosDescription.fullscreen {
		font-size: 0.4em;
	}
}

@media screen and (min-width: 700px) {
	h1.serviciosTitle .masDiv.fullscreen{
		margin-bottom: -1em;
		margin-right: -1.8em;
	}

	h1.serviciosName.fullscreen {
		margin: 0;
		font-weight: 700;
		font-size: 1.7em;
		padding: 1em;
	}
}