@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@font-face {
  font-family: Kohinoor;
  src: url(../fonts/KohinoorDevanagari-Medium.ttf) format("truetype");
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
}
/* line 7, ../sass/style.scss */
body {
  padding-top: 70px;
  font-family: 'Roboto';
}

/* line 9, ../sass/style.scss */
.navbar-fixed-top {
  background-color: white;
}

/* line 11, ../sass/style.scss */
.container-fluid {
  -moz-box-shadow: 0 5px 7px -5px #333;
  -webkit-box-shadow: 0 5px 7px -5px #333;
  box-shadow: 0 5px 7px -5px #333;
}

/* line 15, ../sass/style.scss */
.logo {
  width: 12rem;
}

/* line 17, ../sass/style.scss */
div#myNavbar {
  text-align: center;
}

/* line 19, ../sass/style.scss */
.navbar-brand {
  padding: 0;
}

/* line 21, ../sass/style.scss */
ul.nav.navbar-nav {
  float: none;
  display: inline-block;
}
@media (max-width: 900px) {
  /* line 21, ../sass/style.scss */
  ul.nav.navbar-nav {
    display: block;
  }
}

/* line 29, ../sass/style.scss */
ul.nav.navbar-nav.navbar-right {
  margin-right: 9vw;
}
@media (max-width: 1200px) {
  /* line 29, ../sass/style.scss */
  ul.nav.navbar-nav.navbar-right {
    margin-right: 4.5vw;
  }
}
@media (max-width: 1000px) {
  /* line 29, ../sass/style.scss */
  ul.nav.navbar-nav.navbar-right {
    margin-right: 0;
  }
}

/* line 38, ../sass/style.scss */
.navbar-brand {
  margin-left: 9vw !important;
}
@media (max-width: 1200px) {
  /* line 38, ../sass/style.scss */
  .navbar-brand {
    margin-left: 4.5vw !important;
  }
}
@media (max-width: 1000px) {
  /* line 38, ../sass/style.scss */
  .navbar-brand {
    margin-left: 2.25vw !important;
  }
}

/* line 48, ../sass/style.scss */
.navbar-toggle .icon-bar {
  background-color: white;
}

/* line 49, ../sass/style.scss */
.navbar-toggle {
  background-color: #09324f;
}

/* line 51, ../sass/style.scss */
ul.navbar-nav li {
  height: 7rem;
  display: inline-block;
  border-bottom-width: 10px;
}
@media (max-width: 900px) {
  /* line 51, ../sass/style.scss */
  ul.navbar-nav li {
    height: 5rem;
  }
}

/* line 60, ../sass/style.scss */
ul.navbar-nav li.active {
  border-bottom-style: solid;
  border-bottom-color: #96c83c;
}

/* line 65, ../sass/style.scss */
.navLinks > li > a {
  color: #0e4f7d;
  font-size: 1.6rem;
  font-weight: initial;
}

/* line 67, ../sass/style.scss */
.navLinks > li:hover, .navLinks > li:focus {
  border-bottom-style: solid;
  border-bottom-color: #7fab30;
}

/* line 72, ../sass/style.scss */
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  text-decoration: none;
  background: none;
}

/* line 77, ../sass/style.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* line 78, ../sass/style.scss */
.carousel-control .glyphicon-chevron-left {
  margin-left: -2.5vw;
}

/* line 79, ../sass/style.scss */
.carousel-control .glyphicon-chevron-right {
  margin-right: -2.5vw;
}

/* line 80, ../sass/style.scss */
.carousel-control {
  opacity: 1;
}

/* line 82, ../sass/style.scss */
#myCarousel .carousel-inner .item {
  width: 100%;
  height: 58rem;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  /* line 82, ../sass/style.scss */
  #myCarousel .carousel-inner .item {
    height: 86vw;
  }
}

/* line 93, ../sass/style.scss */
#slider1 {
  background-image: url("../images/slider1.png");
}
@media (max-width: 800px) {
  /* line 93, ../sass/style.scss */
  #slider1 {
    background-image: url("../images/sliderc1.png");
  }
}

/* line 99, ../sass/style.scss */
#slider2 {
  background-image: url("../images/slider2.png");
}
@media (max-width: 800px) {
  /* line 99, ../sass/style.scss */
  #slider2 {
    background-image: url("../images/sliderc2.png");
  }
}

/* line 105, ../sass/style.scss */
#slider3 {
  background-image: url("../images/slider3.png");
}
@media (max-width: 800px) {
  /* line 105, ../sass/style.scss */
  #slider3 {
    background-image: url("../images/sliderc3.png");
  }
}

/* line 111, ../sass/style.scss */
#slider4 {
  background-image: url("../images/slider4.png");
}
@media (max-width: 800px) {
  /* line 111, ../sass/style.scss */
  #slider4 {
    background-image: url("../images/sliderc4.png");
  }
}

/* line 117, ../sass/style.scss */
#slider5 {
  background-image: url("../images/slider5.png");
}
@media (max-width: 800px) {
  /* line 117, ../sass/style.scss */
  #slider5 {
    background-image: url("../images/sliderc5.png");
  }
}

/* line 123, ../sass/style.scss */
#slider6 {
  background-image: url("../images/slider6.png");
}
@media (max-width: 800px) {
  /* line 123, ../sass/style.scss */
  #slider6 {
    background-image: url("../images/sliderc6.png");
  }
}

/* line 130, ../sass/style.scss */
li.control, li.control.active {
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  background-color: white;
  margin-right: 1rem;
  border-style: solid;
  border-color: #09324f;
  border-width: 0.6vw;
  width: 2vw;
  height: 2vw;
}
@media (max-width: 1000px) {
  /* line 130, ../sass/style.scss */
  li.control, li.control.active {
    width: 2.3vw;
    height: 2.3vw;
  }
}
@media (max-width: 740px) {
  /* line 130, ../sass/style.scss */
  li.control, li.control.active {
    border-width: 0.7vw;
    width: 2.5vw;
    height: 2.5vw;
  }
}

/* line 149, ../sass/style.scss */
li.control.active {
  background-color: #96c83c;
  margin-bottom: 1px;
}

/* line 155, ../sass/style.scss */
.container.nosotros {
  margin-top: 5rem;
}

/* line 159, ../sass/style.scss */
.quienesSomosLeft {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 162, ../sass/style.scss */
.quienesSomosImg {
  width: 30vw;
}

/* line 164, ../sass/style.scss */
.quienesSomosRight {
  height: 30vw;
  display: table;
}

/* line 168, ../sass/style.scss */
.quienesSomosP {
  vertical-align: middle;
  display: table-cell;
  text-align: justify;
  font-size: 1.8rem;
  padding: 5rem;
  color: #09324f;
}
@media (max-width: 740px) {
  /* line 168, ../sass/style.scss */
  .quienesSomosP {
    padding-top: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 590px) {
  /* line 168, ../sass/style.scss */
  .quienesSomosP {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.4rem;
  }
}

/* line 188, ../sass/style.scss */
.container {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
  width: 100%;
}

/* line 196, ../sass/style.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 201, ../sass/style.scss */
.col-md-6.servicios {
  padding: 0;
}

/* line 203, ../sass/style.scss */
.serviciosInfo, .overlay {
  display: none;
}

/* line 205, ../sass/style.scss */
.masDiv {
  position: absolute;
  z-index: 21;
  left: 4rem;
  top: 5rem;
}
@media (max-width: 993px) {
  /* line 205, ../sass/style.scss */
  .masDiv {
    top: 2rem;
    left: 1rem;
  }
}

/* line 215, ../sass/style.scss */
.mas {
  background-color: #6CA31C;
  padding: 0.5rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  font-weight: bolder;
  font-size: 3rem;
  cursor: pointer;
  color: white;
}
/* line 224, ../sass/style.scss */
.mas:hover {
  text-decoration: none;
  color: #FFF;
}

/* line 230, ../sass/style.scss */
.serviciosImg {
  width: 100%;
  cursor: pointer;
}

/* line 232, ../sass/style.scss */
.serviciosInfo {
  position: absolute;
  z-index: 10;
  width: 70%;
  left: 10%;
  top: 20%;
}
@media (max-width: 1100px) {
  /* line 232, ../sass/style.scss */
  .serviciosInfo {
    width: 86%;
  }
}
@media (max-width: 993px) {
  /* line 232, ../sass/style.scss */
  .serviciosInfo {
    top: 15%;
  }
}

/* line 246, ../sass/style.scss */
div.serviciosTitle {
  background-color: #96c83c;
  font-family: 'Kohinoor';
  display: inline-block;
  color: #09324f;
  margin-top: 2rem;
  font-size: 3rem;
  padding: 2rem;
  height: 8rem;
}
@media (max-width: 740px) {
  /* line 246, ../sass/style.scss */
  div.serviciosTitle {
    font-size: 2.4rem;
    padding: 1.4rem;
    height: 6rem;
  }
}
@media (max-width: 590px) {
  /* line 246, ../sass/style.scss */
  div.serviciosTitle {
    font-size: 2rem;
    padding: 1rem;
    height: 5rem;
  }
}

/* line 267, ../sass/style.scss */
.serviciosText {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 2rem;
  color: #004c9a;
}
@media (max-width: 740px) {
  /* line 267, ../sass/style.scss */
  .serviciosText {
    margin-top: 0rem;
  }
}

/* line 276, ../sass/style.scss */
h1.serviciosDescription {
  margin-top: -0.5rem;
  font-size: 2.1rem;
  font-weight: 500;
  padding: 2rem;
}
@media (max-width: 590px) {
  /* line 276, ../sass/style.scss */
  h1.serviciosDescription {
    font-size: 1.7rem;
    padding: 1.5rem;
  }
}
@media (max-width: 380px) {
  /* line 276, ../sass/style.scss */
  h1.serviciosDescription {
    font-size: 1.3rem;
    padding: 1.3rem;
  }
}

/* line 291, ../sass/style.scss */
.wrapperTitle, .wrapperTitle.upper, .wrapperTitle.bottom, .wrapperTitle.down {
  margin-bottom: -5rem;
  position: relative;
  text-align: center;
  z-index: 20;
}
@media (max-width: 590px) {
  /* line 291, ../sass/style.scss */
  .wrapperTitle, .wrapperTitle.upper, .wrapperTitle.bottom, .wrapperTitle.down {
    margin-bottom: -4rem;
  }
}

/* line 301, ../sass/style.scss */
.wrapperTitle.upper {
  margin-top: -6rem;
  margin-bottom: 0;
}

/* line 307, ../sass/style.scss */
.wrapperTitle.bottom, .wrapperTitle.down {
  margin-top: -6rem;
  margin-bottom: -5rem;
}

@media (max-width: 740px) {
  /* line 313, ../sass/style.scss */
  .wrapperTitle.down {
    margin-top: -2rem;
  }
}

/* line 320, ../sass/style.scss */
h1.titleSection {
  background-color: #09324f;
  font-family: 'Kohinoor';
  display: inline-block;
  padding-right: 4rem;
  padding-left: 4rem;
  color: #96c83c;
  padding: 2rem;
}
@media (max-width: 590px) {
  /* line 320, ../sass/style.scss */
  h1.titleSection {
    padding-right: 3rem;
    padding-left: 3rem;
    padding: 1rem;
  }
}

/* line 335, ../sass/style.scss */
.overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background: #09324f;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 345, ../sass/style.scss */
.sliderProyectos {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 347, ../sass/style.scss */
ul#owl-example {
  width: 80%;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 349, ../sass/style.scss */
.cliente:hover {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}

/* line 354, ../sass/style.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* line 359, ../sass/style.scss */
.proyectoImg {
  height: 10em;
  width: 11em;
}

/* line 364, ../sass/style.scss */
li.active a div.proyectoImg {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
  border-bottom-color: #09324f;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

/* line 372, ../sass/style.scss */
.owl-wrapper-outer {
  z-index: 20;
}

/* line 375, ../sass/style.scss */
.owl-buttons {
  position: absolute !important;
  top: 5.5rem !important;
  width: 100%;
  z-index: 0;
}
@media (max-width: 1200px) {
  /* line 375, ../sass/style.scss */
  .owl-buttons {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}
@media (max-width: 1000px) {
  /* line 375, ../sass/style.scss */
  .owl-buttons {
    padding-left: 0vw;
    padding-right: 0vw;
  }
}

/* line 390, ../sass/style.scss */
.owl-prev, .owl-next {
  font-size: 3rem !important;
  font-weight: 600 !important;
  margin-left: -2.5rem;
  position: relative;
  z-index: 40;
  float: left;
}

/* line 399, ../sass/style.scss */
.owl-next {
  float: right;
  margin-right: -2.5rem;
}

/* line 405, ../sass/style.scss */
.tab-pane {
  position: relative;
}
/* line 407, ../sass/style.scss */
.tab-pane img {
  width: 100%;
}

/* line 412, ../sass/style.scss */
.textInside {
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
  position: absolute;
  color: #FFF;
  padding: 4rem;
  width: 40rem;
  top: 7rem;
  left: 50%;
}
@media (max-width: 1000px) {
  /* line 412, ../sass/style.scss */
  .textInside {
    left: 30%;
    padding: 2rem;
    top: 3rem;
  }
}
@media (max-width: 740px) {
  /* line 412, ../sass/style.scss */
  .textInside {
    left: 20%;
  }
}
@media (max-width: 590px) {
  /* line 412, ../sass/style.scss */
  .textInside {
    left: 10%;
  }
}
@media (max-width: 465px) {
  /* line 412, ../sass/style.scss */
  .textInside {
    left: 5%;
    font-size: 1.2rem;
    width: 90%;
  }
}

/* line 438, ../sass/style.scss */
h2.titleTextInside {
  font-family: 'Kohinoor';
  margin: 0;
  margin-bottom: 3rem;
}
@media (max-width: 640px) {
  /* line 438, ../sass/style.scss */
  h2.titleTextInside {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

/* line 448, ../sass/style.scss */
.linea {
  width: 100%;
  height: 53rem;
  background-size: cover;
  background-position: center top no-repeat;
}
@media (max-width: 1000px) {
  /* line 448, ../sass/style.scss */
  .linea {
    height: 28rem;
  }
}

/* line 458, ../sass/style.scss */
#linea1 {
  background-image: url("../images/linea1.png");
}
@media (max-width: 1000px) {
  /* line 458, ../sass/style.scss */
  #linea1 {
    background: #443b9d;
  }
}

/* line 464, ../sass/style.scss */
#linea2 {
  background-image: url("../images/linea2.png");
}
@media (max-width: 1000px) {
  /* line 464, ../sass/style.scss */
  #linea2 {
    background: #2a4fa8;
  }
}

/* line 470, ../sass/style.scss */
#linea3 {
  background-image: url("../images/linea3.png");
}
@media (max-width: 1000px) {
  /* line 470, ../sass/style.scss */
  #linea3 {
    background: #0b9ada;
  }
}

/* line 476, ../sass/style.scss */
#linea4 {
  background-image: url("../images/linea4.png");
}
@media (max-width: 1000px) {
  /* line 476, ../sass/style.scss */
  #linea4 {
    background: #2fba91;
  }
}

/* line 482, ../sass/style.scss */
#linea5 {
  background-image: url("../images/linea5.png");
}
@media (max-width: 1000px) {
  /* line 482, ../sass/style.scss */
  #linea5 {
    background: #37b75c;
  }
}

/* line 489, ../sass/style.scss */
div#menu0 div h2 {
  color: #FFF;
}

/* line 490, ../sass/style.scss */
div#menu1 div h2 {
  color: #FFF;
}

/* line 491, ../sass/style.scss */
div#menu2 div h2 {
  color: #FFF;
}

/* line 492, ../sass/style.scss */
div#menu3 div h2 {
  color: #FFF;
}

/* line 493, ../sass/style.scss */
div#menu4 div h2 {
  color: #FFF;
}

/* line 495, ../sass/style.scss */
.clienteRow {
  text-align: center;
  margin: 8rem;
  margin-top: 4rem;
}
@media (max-width: 1000px) {
  /* line 495, ../sass/style.scss */
  .clienteRow {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* line 505, ../sass/style.scss */
.cliente {
  display: inline-block;
  width: 16.66666667%;
  margin: 0 auto;
  height: 10rem;
  float: none;
}
@media (max-width: 1000px) {
  /* line 505, ../sass/style.scss */
  .cliente {
    width: 15%;
  }
}
@media (max-width: 740px) {
  /* line 505, ../sass/style.scss */
  .cliente {
    width: 20%;
  }
}

/* line 518, ../sass/style.scss */
.cliente1 {
  background: url("../images/cliente01.png") center top no-repeat;
  background-size: 9em;
}

/* line 519, ../sass/style.scss */
.cliente2 {
  background: url("../images/cliente02.png") center top no-repeat;
  background-size: 9em;
}

/* line 520, ../sass/style.scss */
.cliente3 {
  background: url("../images/cliente03.png") center top no-repeat;
  background-size: 9em;
}

/* line 521, ../sass/style.scss */
.cliente4 {
  background: url("../images/cliente04.png") center top no-repeat;
  background-size: 9em;
}

/* line 522, ../sass/style.scss */
.cliente5 {
  background: url("../images/cliente05.png") center top no-repeat;
  background-size: 9em;
}

/* line 523, ../sass/style.scss */
.cliente6 {
  background: url("../images/cliente06.png") center top no-repeat;
  background-size: 9em;
}

/* line 524, ../sass/style.scss */
.cliente7 {
  background: url("../images/cliente07.png") center top no-repeat;
  background-size: 9em;
}

/* line 525, ../sass/style.scss */
.cliente8 {
  background: url("../images/cliente08.png") center top no-repeat;
  background-size: 9em;
}

/* line 526, ../sass/style.scss */
.cliente9 {
  background: url("../images/cliente09.png") center top no-repeat;
  background-size: 9em;
}

/* line 527, ../sass/style.scss */
.cliente10 {
  background: url("../images/cliente10.png") center top no-repeat;
  background-size: 9em;
}

/* line 528, ../sass/style.scss */
.cliente11 {
  background: url("../images/cliente11.png") center top no-repeat;
  background-size: 9em;
}

/* line 529, ../sass/style.scss */
.cliente12 {
  background: url("../images/cliente12.png") center top no-repeat;
  background-size: 9em;
}

/* line 530, ../sass/style.scss */
.cliente13 {
  background: url("../images/cliente13.png") center top no-repeat;
  background-size: 9em;
}
