@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
/* line 7, ../sass/style.scss */
body {
  padding-top: 70px;
}

/* line 9, ../sass/style.scss */
.navbar-fixed-top {
  background-color: white;
}

/* line 11, ../sass/style.scss */
.container-fluid {
  -moz-box-shadow: 0 5px 7px -5px #333;
  -webkit-box-shadow: 0 5px 7px -5px #333;
  box-shadow: 0 5px 7px -5px #333;
}

/* line 15, ../sass/style.scss */
.logo {
  width: 12rem;
}

/* line 17, ../sass/style.scss */
div#myNavbar {
  text-align: center;
}

/* line 19, ../sass/style.scss */
.navbar-brand {
  padding: 0;
}

/* line 21, ../sass/style.scss */
nav.navbar.navbar-inverse {
  padding-bottom: 2rem;
}

/* line 23, ../sass/style.scss */
ul.nav.navbar-nav {
  float: none;
  display: inline-block;
}
@media (max-width: 885px) {
  /* line 23, ../sass/style.scss */
  ul.nav.navbar-nav {
    display: block;
  }
}

/* line 31, ../sass/style.scss */
ul.nav.navbar-nav.navbar-right {
  margin-right: 9vw;
}
@media (max-width: 1200px) {
  /* line 31, ../sass/style.scss */
  ul.nav.navbar-nav.navbar-right {
    margin-right: 4.5vw;
  }
}
@media (max-width: 1000px) {
  /* line 31, ../sass/style.scss */
  ul.nav.navbar-nav.navbar-right {
    margin-right: 0;
  }
}

/* line 40, ../sass/style.scss */
.navbar-brand {
  margin-left: 9vw !important;
}
@media (max-width: 1200px) {
  /* line 40, ../sass/style.scss */
  .navbar-brand {
    margin-left: 4.5vw !important;
  }
}
@media (max-width: 1000px) {
  /* line 40, ../sass/style.scss */
  .navbar-brand {
    margin-left: 2.25vw !important;
  }
}

/* line 50, ../sass/style.scss */
.navbar-toggle .icon-bar {
  background-color: white;
}

/* line 51, ../sass/style.scss */
.navbar-toggle {
  background-color: #000066;
}

/* line 53, ../sass/style.scss */
ul.navbar-nav li {
  height: 7rem;
  display: inline-block;
  border-bottom-width: 10px;
}
@media (max-width: 885px) {
  /* line 53, ../sass/style.scss */
  ul.navbar-nav li {
    height: 5rem;
  }
}

/* line 62, ../sass/style.scss */
ul.navbar-nav li.active {
  border-bottom-style: solid;
  border-bottom-color: #00e600;
}

/* line 67, ../sass/style.scss */
.navLinks > li > a {
  color: #3333ff;
  font-size: 1.6rem;
  font-weight: initial;
}

/* line 69, ../sass/style.scss */
.navLinks > li:hover, .navLinks > li:focus {
  border-bottom-style: solid;
  border-bottom-color: #00bd00;
}

/* line 74, ../sass/style.scss */
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  text-decoration: none;
  background: none;
}

/* line 79, ../sass/style.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* line 81, ../sass/style.scss */
.carousel-control .glyphicon-chevron-left {
  margin-left: -2.5vw;
}

/* line 82, ../sass/style.scss */
.carousel-control .glyphicon-chevron-right {
  margin-right: -2.5vw;
}

/* line 83, ../sass/style.scss */
.carousel-control {
  opacity: 1;
}

/* line 84, ../sass/style.scss */
li.slideImg, .carousel-indicators li.active {
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  background-color: white;
  margin-right: 1rem;
  border-style: solid;
  border-color: #000066;
  border-width: 0.6vw;
  width: 2vw;
  height: 2vw;
}
@media (max-width: 1000px) {
  /* line 84, ../sass/style.scss */
  li.slideImg, .carousel-indicators li.active {
    width: 2.3vw;
    height: 2.3vw;
  }
}
@media (max-width: 740px) {
  /* line 84, ../sass/style.scss */
  li.slideImg, .carousel-indicators li.active {
    border-width: 0.7vw;
    width: 2.5vw;
    height: 2.5vw;
  }
}

/* line 103, ../sass/style.scss */
.carousel-indicators li.active {
  background-color: #00e600;
  margin-bottom: 1px;
}

/* line 109, ../sass/style.scss */
.container.nosotros {
  margin-top: 5rem;
}

/* line 113, ../sass/style.scss */
.quienesSomosLeft {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 116, ../sass/style.scss */
.quienesSomosImg {
  width: 30vw;
}

/* line 118, ../sass/style.scss */
.quienesSomosRight {
  height: 30vw;
  display: table;
}

/* line 122, ../sass/style.scss */
.quienesSomosP {
  vertical-align: middle;
  display: table-cell;
  text-align: justify;
  padding: 5rem;
  color: #000066;
}
@media (max-width: 740px) {
  /* line 122, ../sass/style.scss */
  .quienesSomosP {
    padding-top: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 590px) {
  /* line 122, ../sass/style.scss */
  .quienesSomosP {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* line 139, ../sass/style.scss */
.container {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
  width: 100%;
}

/* line 147, ../sass/style.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 152, ../sass/style.scss */
.col-md-6.servicios {
  padding: 0;
}

/* line 154, ../sass/style.scss */
.serviciosImg {
  width: 100%;
  cursor: pointer;
}

/* line 156, ../sass/style.scss */
.serviciosInfo {
  position: absolute;
  z-index: 10;
  width: 70%;
  left: 10%;
  top: 15%;
}
@media (max-width: 1100px) {
  /* line 156, ../sass/style.scss */
  .serviciosInfo {
    width: 86%;
  }
}

/* line 167, ../sass/style.scss */
div.serviciosTitle {
  background-color: #00e600;
  display: inline-block;
  color: #000066;
  font-size: 3rem;
  padding: 2rem;
  height: 8rem;
}
@media (max-width: 740px) {
  /* line 167, ../sass/style.scss */
  div.serviciosTitle {
    font-size: 2.4rem;
    padding: 1.4rem;
    height: 6rem;
  }
}

/* line 181, ../sass/style.scss */
.masDiv {
  text-align: right;
  margin-right: -1em;
}

/* line 186, ../sass/style.scss */
.mas {
  background-color: #6CA31C;
  padding-right: 14px;
  padding-left: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

/* line 195, ../sass/style.scss */
h1.serviciosDescription {
  font-size: 1.6rem;
}

/* line 197, ../sass/style.scss */
.serviciosText {
  background-color: rgba(255, 255, 255, 0.7);
  color: #004c9a;
}

/* line 202, ../sass/style.scss */
h1.serviciosDescription {
  margin-top: -0.5rem;
  font-size: 2.1rem;
  font-weight: 500;
  padding: 2rem;
}
@media (max-width: 590px) {
  /* line 202, ../sass/style.scss */
  h1.serviciosDescription {
    font-size: 1.7rem;
    padding: 1.5rem;
  }
}

/* line 213, ../sass/style.scss */
.wrapperTitle, .wrapperTitle.upper {
  margin-bottom: -5rem;
  position: relative;
  text-align: center;
  z-index: 20;
}
@media (max-width: 590px) {
  /* line 213, ../sass/style.scss */
  .wrapperTitle, .wrapperTitle.upper {
    margin-bottom: -4rem;
  }
}

/* line 223, ../sass/style.scss */
.wrapperTitle.upper {
  margin-top: -6rem;
  margin-bottom: 0;
}

/* line 229, ../sass/style.scss */
h1.titleSection {
  background-color: #000066;
  display: inline-block;
  padding-right: 4rem;
  padding-left: 4rem;
  color: #00e600;
  padding: 2rem;
}
@media (max-width: 590px) {
  /* line 229, ../sass/style.scss */
  h1.titleSection {
    padding-right: 3rem;
    padding-left: 3rem;
    padding: 1rem;
  }
}

/* line 243, ../sass/style.scss */
.overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background: #000066;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 253, ../sass/style.scss */
.sliderProyectos {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 255, ../sass/style.scss */
ul#owl-example {
  width: 80%;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 257, ../sass/style.scss */
.cliente:hover {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}

/* line 262, ../sass/style.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* line 267, ../sass/style.scss */
.proyectoImg {
  height: 10em;
  width: 11em;
}

/* line 272, ../sass/style.scss */
li.active a div.proyectoImg {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}
