@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@font-face {
  font-family: Kohinoor;
  src: url(../fonts/KohinoorDevanagari-Medium.ttf) format("truetype");
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
}
/* line 7, ../sass/style.scss */
body {
  padding-top: 70px;
  font-family: 'Roboto';
}

/* line 9, ../sass/style.scss */
.navbar-fixed-top {
  background-color: white;
}

/* line 11, ../sass/style.scss */
.container-fluid {
  -moz-box-shadow: 0 5px 7px -5px #333;
  -webkit-box-shadow: 0 5px 7px -5px #333;
  box-shadow: 0 5px 7px -5px #333;
}

/* line 15, ../sass/style.scss */
.logo {
  width: 12rem;
}

/* line 17, ../sass/style.scss */
div#myNavbar {
  text-align: center;
}

/* line 19, ../sass/style.scss */
.navbar-brand {
  padding: 0;
}

/* line 21, ../sass/style.scss */
ul.nav.navbar-nav {
  -webkit-backface-visibility: hidden;
  float: none;
  display: inline-block;
}
@media (max-width: 977px) {
  /* line 21, ../sass/style.scss */
  ul.nav.navbar-nav {
    display: block;
  }
}

/* line 30, ../sass/style.scss */
ul.nav.navbar-nav.navbar-right {
  margin-right: 9vw;
}
@media (max-width: 1200px) {
  /* line 30, ../sass/style.scss */
  ul.nav.navbar-nav.navbar-right {
    margin-right: 4.5vw;
  }
}
@media (max-width: 1000px) {
  /* line 30, ../sass/style.scss */
  ul.nav.navbar-nav.navbar-right {
    margin-right: 0;
  }
}

/* line 39, ../sass/style.scss */
.navbar-brand {
  margin-left: 9vw !important;
}
@media (max-width: 1200px) {
  /* line 39, ../sass/style.scss */
  .navbar-brand {
    margin-left: 4.5vw !important;
  }
}
@media (max-width: 1000px) {
  /* line 39, ../sass/style.scss */
  .navbar-brand {
    margin-left: 2.25vw !important;
  }
}

/* line 49, ../sass/style.scss */
.navbar-toggle .icon-bar {
  background-color: white;
}

/* line 50, ../sass/style.scss */
.navbar-toggle {
  background-color: #09324f;
}

/* line 52, ../sass/style.scss */
ul.navbar-nav li {
  height: 7rem;
  display: inline-block;
  border-bottom-width: 10px;
}
@media (max-width: 977px) {
  /* line 52, ../sass/style.scss */
  ul.navbar-nav li {
    height: 5rem;
  }
}

/* line 61, ../sass/style.scss */
ul.navbar-nav li.active {
  border-bottom-style: solid;
  border-bottom-color: #96c83c;
}

/* line 66, ../sass/style.scss */
.navLinks > li > a {
  color: #0e4f7d;
  font-size: 1.6rem;
  font-weight: initial;
}

/* line 68, ../sass/style.scss */
.navLinks > li:hover, .navLinks > li:focus {
  border-bottom-style: solid;
  border-bottom-color: #7fab30;
}

/* line 73, ../sass/style.scss */
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  text-decoration: none;
  background: none;
}

/* line 78, ../sass/style.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* line 79, ../sass/style.scss */
.carousel-control .glyphicon-chevron-left {
  margin-left: -2.5vw;
}

/* line 80, ../sass/style.scss */
.carousel-control .glyphicon-chevron-right {
  margin-right: -2.5vw;
}

/* line 81, ../sass/style.scss */
.carousel-control {
  opacity: 1;
}

/* line 83, ../sass/style.scss */
#myCarousel .carousel-inner .item {
  width: 100%;
  height: 58rem;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  /* line 83, ../sass/style.scss */
  #myCarousel .carousel-inner .item {
    height: 86vw;
  }
}

/* line 94, ../sass/style.scss */
#slider1 {
  background-image: url("../images/slider1.png");
}
@media (max-width: 800px) {
  /* line 94, ../sass/style.scss */
  #slider1 {
    background-image: url("../images/sliderc1.png");
  }
}

/* line 100, ../sass/style.scss */
#slider2 {
  background-image: url("../images/slider2.png");
}
@media (max-width: 800px) {
  /* line 100, ../sass/style.scss */
  #slider2 {
    background-image: url("../images/sliderc2.png");
  }
}

/* line 106, ../sass/style.scss */
#slider3 {
  background-image: url("../images/slider3.png");
}
@media (max-width: 800px) {
  /* line 106, ../sass/style.scss */
  #slider3 {
    background-image: url("../images/sliderc3.png");
  }
}

/* line 112, ../sass/style.scss */
#slider4 {
  background-image: url("../images/slider4.png");
}
@media (max-width: 800px) {
  /* line 112, ../sass/style.scss */
  #slider4 {
    background-image: url("../images/sliderc4.png");
  }
}

/* line 118, ../sass/style.scss */
#slider5 {
  background-image: url("../images/slider5.png");
}
@media (max-width: 800px) {
  /* line 118, ../sass/style.scss */
  #slider5 {
    background-image: url("../images/sliderc5.png");
  }
}

/* line 124, ../sass/style.scss */
#slider6 {
  background-image: url("../images/slider6.png");
}
@media (max-width: 800px) {
  /* line 124, ../sass/style.scss */
  #slider6 {
    background-image: url("../images/sliderc6.png");
  }
}

/* line 131, ../sass/style.scss */
#myCarousel2 .carousel-indicators {
  display: none;
}

/* line 135, ../sass/style.scss */
li.control, li.control.active {
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  background-color: white;
  margin-right: 1rem;
  border-style: solid;
  border-color: #09324f;
  border-width: 0.6vw;
  width: 2vw;
  height: 2vw;
}
@media (max-width: 1000px) {
  /* line 135, ../sass/style.scss */
  li.control, li.control.active {
    width: 2.3vw;
    height: 2.3vw;
  }
}
@media (max-width: 740px) {
  /* line 135, ../sass/style.scss */
  li.control, li.control.active {
    border-width: 0.7vw;
    width: 2.5vw;
    height: 2.5vw;
  }
}

/* line 154, ../sass/style.scss */
li.control.active {
  background-color: #96c83c;
  margin-bottom: 1px;
}

/* line 160, ../sass/style.scss */
.container.nosotros {
  margin-top: 5rem;
}

/* line 164, ../sass/style.scss */
.quienesSomosLeft {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 167, ../sass/style.scss */
.quienesSomosImg {
  width: 30vw;
}

/* line 169, ../sass/style.scss */
.quienesSomosRight {
  height: 30vw;
  display: table;
}

/* line 173, ../sass/style.scss */
.quienesSomosP {
  vertical-align: middle;
  display: table-cell;
  text-align: justify;
  font-size: 1.8rem;
  padding: 5rem;
  color: #09324f;
}
@media (max-width: 740px) {
  /* line 173, ../sass/style.scss */
  .quienesSomosP {
    padding-top: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 590px) {
  /* line 173, ../sass/style.scss */
  .quienesSomosP {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.4rem;
  }
}

/* line 193, ../sass/style.scss */
.container {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
  width: 100%;
}

/* line 201, ../sass/style.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 206, ../sass/style.scss */
.col-md-6.servicios {
  padding: 0;
}

/* line 208, ../sass/style.scss */
.serviciosInfo, .overlay {
  display: none;
}

/* line 210, ../sass/style.scss */
.masDiv {
  position: absolute;
  z-index: 21;
  left: 4rem;
  top: 5rem;
}
@media (max-width: 993px) {
  /* line 210, ../sass/style.scss */
  .masDiv {
    top: 2rem;
    left: 1rem;
  }
}

/* line 220, ../sass/style.scss */
.mas {
  background-color: #6CA31C;
  padding: 0.5rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  font-weight: bolder;
  font-size: 3rem;
  cursor: pointer;
  color: white;
}
/* line 229, ../sass/style.scss */
.mas:hover {
  text-decoration: none;
  color: #FFF;
}

/* line 235, ../sass/style.scss */
.serviciosImg {
  width: 100%;
  cursor: pointer;
}

/* line 237, ../sass/style.scss */
.serviciosInfo {
  position: absolute;
  z-index: 10;
  width: 70%;
  left: 10%;
  top: 20%;
}
@media (max-width: 1100px) {
  /* line 237, ../sass/style.scss */
  .serviciosInfo {
    width: 86%;
  }
}
@media (max-width: 993px) {
  /* line 237, ../sass/style.scss */
  .serviciosInfo {
    top: 15%;
  }
}

/* line 251, ../sass/style.scss */
div.serviciosTitle {
  background-color: #96c83c;
  font-family: 'Kohinoor';
  display: inline-block;
  color: #09324f;
  margin-top: 2rem;
  font-size: 3rem;
  padding: 2rem;
  height: 8rem;
}
@media (max-width: 740px) {
  /* line 251, ../sass/style.scss */
  div.serviciosTitle {
    font-size: 2.4rem;
    padding: 1.4rem;
    height: 6rem;
  }
}
@media (max-width: 590px) {
  /* line 251, ../sass/style.scss */
  div.serviciosTitle {
    font-size: 2rem;
    padding: 1rem;
    height: 5rem;
  }
}

/* line 272, ../sass/style.scss */
.serviciosText {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 2rem;
  color: #004c9a;
}
@media (max-width: 740px) {
  /* line 272, ../sass/style.scss */
  .serviciosText {
    margin-top: 0rem;
  }
}

/* line 281, ../sass/style.scss */
h1.serviciosDescription {
  margin-top: -0.5rem;
  font-size: 2.1rem;
  font-weight: 500;
  padding: 2rem;
}
@media (max-width: 590px) {
  /* line 281, ../sass/style.scss */
  h1.serviciosDescription {
    font-size: 1.7rem;
    padding: 1.5rem;
  }
}
@media (max-width: 380px) {
  /* line 281, ../sass/style.scss */
  h1.serviciosDescription {
    font-size: 1.3rem;
    padding: 1.3rem;
  }
}

/* line 296, ../sass/style.scss */
.wrapperTitle {
  margin-bottom: -5rem;
  position: relative;
  text-align: center;
  z-index: 30;
}
@media (max-width: 590px) {
  /* line 296, ../sass/style.scss */
  .wrapperTitle {
    margin-bottom: -4rem;
  }
}

/* line 305, ../sass/style.scss */
.wrapperTitle.proyectosTopTitle, .wrapperTitle.equipoTopTitle {
  margin-top: -6rem;
  margin-bottom: 0;
}
@media (max-width: 590px) {
  /* line 305, ../sass/style.scss */
  .wrapperTitle.proyectosTopTitle, .wrapperTitle.equipoTopTitle {
    margin-top: -5rem;
  }
}

/* line 313, ../sass/style.scss */
.wrapperTitle.equipoTopTitle {
  margin-top: -2rem;
  margin-bottom: -1rem;
}

/* line 318, ../sass/style.scss */
.wrapperTitle.trabajoTopTitle {
  margin-top: -6rem;
}
@media (max-width: 590px) {
  /* line 318, ../sass/style.scss */
  .wrapperTitle.trabajoTopTitle {
    margin-bottom: -2.9rem;
  }
}

/* line 325, ../sass/style.scss */
.wrapperTitle.clientesTopTitle, .wrapperTitle.aliadosTopTitle {
  margin-top: -2rem;
  margin-bottom: 0rem;
}

/* line 330, ../sass/style.scss */
h1.titleSection {
  background-color: #09324f;
  font-family: 'Kohinoor';
  display: inline-block;
  padding-right: 4rem;
  padding-left: 4rem;
  color: #96c83c;
  padding: 2rem;
}
@media (max-width: 590px) {
  /* line 330, ../sass/style.scss */
  h1.titleSection {
    padding: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

/* line 345, ../sass/style.scss */
.overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background: #09324f;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 355, ../sass/style.scss */
.sliderProyectos {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 357, ../sass/style.scss */
ul#owl-example {
  width: 80%;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 359, ../sass/style.scss */
.row.clienteRow {
  margin-bottom: 1rem;
}

/* line 363, ../sass/style.scss */
.cliente:hover, .aliado:hover {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}

/* line 368, ../sass/style.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* line 373, ../sass/style.scss */
.proyectoImg {
  height: 10em;
  width: 11em;
}

/* line 378, ../sass/style.scss */
li.active a div.proyectoImg {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
  border-bottom-color: #09324f;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

/* line 386, ../sass/style.scss */
.owl-wrapper-outer {
  z-index: 20;
}

/* line 389, ../sass/style.scss */
.owl-buttons {
  position: absolute !important;
  top: 5.5rem !important;
  width: 100%;
  z-index: 0;
}
@media (max-width: 1200px) {
  /* line 389, ../sass/style.scss */
  .owl-buttons {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}
@media (max-width: 1000px) {
  /* line 389, ../sass/style.scss */
  .owl-buttons {
    padding-left: 0vw;
    padding-right: 0vw;
  }
}

/* line 404, ../sass/style.scss */
.owl-prev, .owl-next {
  font-size: 3rem !important;
  font-weight: 600 !important;
  margin-left: -2.5rem;
  position: relative;
  z-index: 40;
  float: left;
}

/* line 413, ../sass/style.scss */
.owl-next {
  float: right;
  margin-right: -2.5rem;
}

/* line 419, ../sass/style.scss */
.tab-pane {
  position: relative;
}
/* line 421, ../sass/style.scss */
.tab-pane img {
  width: 100%;
}

/* line 426, ../sass/style.scss */
.textInside {
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
  position: absolute;
  color: #FFF;
  padding: 4rem;
  width: 40rem;
  top: 7rem;
  left: 50%;
}
@media (max-width: 1000px) {
  /* line 426, ../sass/style.scss */
  .textInside {
    left: 30%;
    padding: 2rem;
    top: 3rem;
  }
}
@media (max-width: 740px) {
  /* line 426, ../sass/style.scss */
  .textInside {
    left: 20%;
  }
}
@media (max-width: 590px) {
  /* line 426, ../sass/style.scss */
  .textInside {
    left: 10%;
  }
}
@media (max-width: 465px) {
  /* line 426, ../sass/style.scss */
  .textInside {
    left: 5%;
    font-size: 1.2rem;
    width: 90%;
  }
}

/* line 452, ../sass/style.scss */
h2.titleTextInside {
  font-family: 'Kohinoor';
  margin: 0;
  margin-bottom: 3rem;
}
@media (max-width: 640px) {
  /* line 452, ../sass/style.scss */
  h2.titleTextInside {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

/* line 462, ../sass/style.scss */
.linea {
  width: 100%;
  height: 53rem;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
@media (max-width: 1000px) {
  /* line 462, ../sass/style.scss */
  .linea {
    height: 28rem;
  }
}

/* line 473, ../sass/style.scss */
div#menu0 div h2 {
  color: #FFF;
}

/* line 474, ../sass/style.scss */
div#menu1 div h2 {
  color: #FFF;
}

/* line 475, ../sass/style.scss */
div#menu2 div h2 {
  color: #FFF;
}

/* line 476, ../sass/style.scss */
div#menu3 div h2 {
  color: #FFF;
}

/* line 477, ../sass/style.scss */
div#menu4 div h2 {
  color: #FFF;
}

/* line 479, ../sass/style.scss */
.clienteRow, .aliadoRow {
  text-align: center;
  margin: 8rem;
  margin-top: 4rem;
}
@media (max-width: 1000px) {
  /* line 479, ../sass/style.scss */
  .clienteRow, .aliadoRow {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* line 488, ../sass/style.scss */
.aliadoRow {
  margin-bottom: 4rem;
}

/* line 492, ../sass/style.scss */
.cliente, .aliado {
  display: inline-block;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 9em;
  margin: 0 auto;
  height: 10rem;
  float: none;
  width: 16.66666667%;
}
@media (max-width: 1000px) {
  /* line 492, ../sass/style.scss */
  .cliente, .aliado {
    width: 20%;
  }
}
@media (max-width: 740px) {
  /* line 492, ../sass/style.scss */
  .cliente, .aliado {
    width: 30%;
  }
}
@media (max-width: 440px) {
  /* line 492, ../sass/style.scss */
  .cliente, .aliado {
    width: 45%;
  }
}

/* line 512, ../sass/style.scss */
.aliado {
  background-size: 15em;
  width: 33%;
}
@media (max-width: 1000px) {
  /* line 512, ../sass/style.scss */
  .aliado {
    width: 45%;
  }
}
@media (max-width: 740px) {
  /* line 512, ../sass/style.scss */
  .aliado {
    width: 55%;
  }
}
@media (max-width: 440px) {
  /* line 512, ../sass/style.scss */
  .aliado {
    width: 90%;
  }
}

/* line 527, ../sass/style.scss */
.container.miembros {
  width: 100%;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 532, ../sass/style.scss */
.equipo {
  display: inline-block;
  margin: 0 auto;
  float: none;
  margin-bottom: -6px;
  height: 25vw;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 993px) {
  /* line 532, ../sass/style.scss */
  .equipo {
    width: 33.33%;
    height: 33vw;
  }
}
@media (max-width: 740px) {
  /* line 532, ../sass/style.scss */
  .equipo {
    width: 50%;
    height: 50vw;
  }
}

/* line 551, ../sass/style.scss */
.row.contactoRow {
  background-color: #09324f;
  height: 39em;
}
@media (max-width: 993px) {
  /* line 551, ../sass/style.scss */
  .row.contactoRow {
    height: 48em;
  }
}

/* line 559, ../sass/style.scss */
.titleH1Contacto.derecha {
  display: none;
}
@media (max-width: 990px) {
  /* line 559, ../sass/style.scss */
  .titleH1Contacto.derecha {
    display: block;
    margin-bottom: 0.5em;
  }
}

/* line 567, ../sass/style.scss */
.titleH1Contacto {
  color: white;
  margin-top: 22%;
  text-align: center;
  font-weight: 800;
  font-size: 4em;
}
@media (max-width: 1200px) {
  /* line 567, ../sass/style.scss */
  .titleH1Contacto {
    margin-top: 30%;
  }
}
@media (max-width: 990px) {
  /* line 567, ../sass/style.scss */
  .titleH1Contacto {
    margin: 0 auto;
    margin-top: 2rem;
  }
}

/* line 582, ../sass/style.scss */
.columnaContacto {
  z-index: 200;
  height: 100%;
  color: white;
  text-align: center;
}

/* line 589, ../sass/style.scss */
.formulario {
  height: auto;
  padding: 3em;
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}
@media (max-width: 1300px) {
  /* line 589, ../sass/style.scss */
  .formulario {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  /* line 589, ../sass/style.scss */
  .formulario {
    margin-top: 15%;
  }
}
@media (max-width: 1050px) {
  /* line 589, ../sass/style.scss */
  .formulario {
    width: 100%;
  }
}
@media (max-width: 990px) {
  /* line 589, ../sass/style.scss */
  .formulario {
    margin-top: 8em !important;
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  /* line 589, ../sass/style.scss */
  .formulario {
    width: 100%;
  }
}

/* line 615, ../sass/style.scss */
.form-control {
  background-color: #eee;
}

/* line 619, ../sass/style.scss */
.buttonWrapper {
  text-align: right;
}

/* line 623, ../sass/style.scss */
.contactoMoreInfo {
  margin-top: 3em;
  text-align: center;
}
@media (max-width: 1300px) {
  /* line 623, ../sass/style.scss */
  .contactoMoreInfo {
    margin-left: 0em;
  }
}

/* line 632, ../sass/style.scss */
.col-md-4.contacto {
  width: 31%;
}
@media (max-width: 990px) {
  /* line 632, ../sass/style.scss */
  .col-md-4.contacto {
    display: inline-block;
  }
}

@media screen and (max-width: 990px) {
  /* line 640, ../sass/style.scss */
  .col-md-6.columnaContacto {
    width: 100%;
    position: absolute;
  }

  /* line 644, ../sass/style.scss */
  ul.footerLi {
    font-size: 10px !important;
  }
}
/* line 649, ../sass/style.scss */
img.logosEscribenos {
  width: 30rem;
}
@media (max-width: 993px) {
  /* line 649, ../sass/style.scss */
  img.logosEscribenos {
    display: none;
  }
}

/* line 655, ../sass/style.scss */
img.logosEscribenos2 {
  width: 38rem;
}
@media (min-width: 993px) {
  /* line 655, ../sass/style.scss */
  img.logosEscribenos2 {
    display: none;
  }
}
@media (max-width: 450px) {
  /* line 655, ../sass/style.scss */
  img.logosEscribenos2 {
    width: 30rem;
  }
}

/* line 665, ../sass/style.scss */
.overlayEquipo {
  color: #FFF;
  height: 100%;
  width: 100%;
  background-color: #09324f;
  position: absolute;
  z-index: 50;
  opacity: 0.7;
}

/* line 675, ../sass/style.scss */
.descripcionEquipo {
  font-size: 1.7rem;
  padding: 1rem;
}
@media (max-width: 500px) {
  /* line 675, ../sass/style.scss */
  .descripcionEquipo {
    font-size: 1.2rem;
    padding: 0.6rem;
  }
}

/* line 684, ../sass/style.scss */
.tituloEquipo {
  font-size: 2.5rem;
  padding: 1rem;
  padding-top: 3rem;
  font-weight: 600;
}
@media (max-width: 500px) {
  /* line 684, ../sass/style.scss */
  .tituloEquipo {
    padding: 0.6rem;
    padding-top: 3rem;
    font-size: 2rem;
  }
}
